


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {

    padding: 64px 0;

    background-color: #dcdcdb;


    .main-block {
        margin: 0;

        .main-block__item {

            .square {

                position: relative;

                overflow: hidden;

                animation-name: anim;

                animation-iteration-count: infinite;

                animation-timing-function: linear;

                animation-direction: 5s;

                margin-bottom: 40px;

                padding: 0;

                width: 265px;

                height: 265px;

                .date-item {
                    background-color: #0d0d0d94;

                    position: absolute;

                    bottom: 100%;

                    width: 96%;

                    padding: 10px 15px;

                    transition: .1s;

                    cursor: pointer;

                    h3 {
                        color: white;

                        font-size: 16px;
                    }

                    p {
                        color: white;

                        font-size: 14px;
                    }
                }

                &:hover .date-item {
                    bottom: 67%;
                }


                .pop {
                    position: absolute;

                    bottom: -100%;

                    background: white;

                    width: 100%;

                    padding: 30px 15px;

                    transition: .1s;

                    cursor: pointer;
                }

                &:hover .pop {
                    bottom: 0;

                    .full {
                        img:hover {
                            width: 20px;

                        }
                    }
                }






            }
        }

    }

    .wrapper-block-text {

        padding: 75px 0;

        background-color: white;

        text-align: center;

        h2 {
            font-size: 28px;

            text-transform: capitalize;

            font-family: 'Yanone Kaffeesatz', sans-serif;

            font-weight: 800;
        }

        P {
            width: 598px;

            font-family: 'Syne Mono', monospace;

            font-size: 18px;

            margin: 0 auto 50px;

        }

        .btn-cont{
            font-style: 18px;

            letter-spacing: 2px;

            padding: 20px;

        }
    }


    .wrapper-block {

        .wrapper-info-block {

            margin: 65px auto 0;

            padding: 50px 30px;

            background-color: white;

            .info-block-1 {

                position: relative;

                h2 {

                    position: absolute;

                    top: 40px;
                }

                .block-left {

                    p:first-child {

                        font-size: 14px;

                        color: gray;
                    }

                    img {
                        margin-top: 60px;

                        margin-bottom: 20px;
                    }

                }
            }

            .block-center {
                div:first-child {
                    p {

                        font-size: 14px;

                        color: gray;
                    }
                }

                .wrapper-text {
                    margin-top: 60px;

                    p:last-child {
                        color: gray;
                    }
                }
            }

            .block-right {
                position: relative;

                margin-top: 60px;

                display: flex;

                flex-direction: column;

                align-items: center;

                a {
                    text-decoration: none;
                    color: #e6618c;
                    margin-bottom: 10px;
                }

                img {
                    margin-bottom: 20px;

                }

                .wrapper-hover {
                    .item-1 {
                        position: absolute;
                        bottom: 205px;
                        left: 105px;
                        width: 100px;
                    }
                }
            }
        }

        .wrapper-accordion {
            margin-top: 65px;

            padding-left: 30px;

            padding-right: 0;

            .accordion {
                padding-bottom: 20px;

                background-color: white;


                h3 {
                    padding: 45px;

                    text-align: center;

                    font-size: 20px;

                    font-family: serif;

                    font-weight: 900;
                }

                .contentBx {
                    position: relative;
                    margin: 0 20px;

                    .label {
                        display: flex;

                        position: relative;

                        padding: 10px 30px;

                        background-color: white;

                        color: Black;

                        cursor: pointer;

                        span {
                            color: #e6618c;
                            text-decoration: underline
                        }


                        .wrapper-arrow {

                            position: absolute;

                            height: 20px;

                            width: 20px;

                            transform: rotate(270deg);

                            right: 235px;

                            top: 12px;
                        }


                    }

                    .active {
                        color: #f1b1c4;

                        .wrapper-arrow {
                            transform: none;
                        }
                    }

                    .content {
                        padding: 0 6px;
                        background-color: white;
                        display: none;

                    }

                    // .content:last-child{
                    //     padding-bottom: 20px;
                    // }

                    .show {
                        display: block;

                        .wrapper-arrow {
                            svg {
                                width: 20px;
                                transform: rotate(270deg);


                            }
                        }

                        p {

                            font-size: 13px;
                            text-decoration: underline;
                            color: #f1b1c4;
                        }
                    }
                }
            }
        }
    }



}




