$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-h1: 48px;
$font-size-h2: 28px;
$font-size-h3: 24px;

$bg-color: #dcdcdb;
$main-color: white;
$link-color: #e6618c;
$black-color: black;